.pagecontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section{
    margin-top: 20px;
    padding: 30px 20px;
    text-align: center;
    max-width: 1000px;
}

.section .box{
    background-color: var(--box);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section .chips{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.section .chip{
    background-color: var(--white);
    padding: 10px 14px;
    border-radius: 8px;
    color: var(--background);
    font-size: 1.2rem;
    max-width: 100%;
    cursor: pointer;
}

.section .fixedchip{
    background-color: var(--white);
    padding: 10px 14px;
    border-radius: 8px;
    color: var(--background);
    font-size: 1.2rem;
    width: 400px;
    cursor: pointer;
}

.section h1{
    margin-bottom: 10px;
}

.section h2{
    margin-bottom: 10px;
}

.section p{
    margin-bottom: 5px;
}

.chip p{
    margin: 0;
}

.section .columnleft{
    flex: 1;
    display: flex;
    justify-content: center;
}

.section .columnleft img{
    width: 400px;
    height: auto;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}


.section .innersection{
    width: 50%;
    min-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section .columnright{
    flex: 1;
}

.section h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text);
}

.section h3{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text);
}

.levelcopper{
    max-width: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(85, 29, 0, 0) 0%, rgba(85, 29, 0, 1) 60%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.levelsilver{
    max-width: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(123,123,123, 0) 0%, rgba(123,123,123, 1) 60%);
    display: flex;
    justify-content: center;
    gap: 10px;
    color: black;
}

.levelgold{
    max-width: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(226, 185, 0, 0) 0%, rgba(226, 185, 0, 1) 60%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.leveldiamond{
    max-width: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(38, 158, 191, 0) 0%, rgba(38, 158, 191, 1) 60%);
    display: flex;
    justify-content: center;
    gap: 10px;
}