:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #b36501;
  --secondary: #ffcd00;
  --white: #ffffff;
  --box: #252525;
  --background-dim: #ffffff44;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-dim: #0a0a0a44;
  }
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url('/fonts/CooperHewitt-Thin.otf');
  font-weight: 100;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url('/fonts/CooperHewitt-Book.otf');
  font-weight: 400;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url('/fonts/CooperHewitt-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url('/fonts/CooperHewitt-Bold.otf');
  font-weight: 700;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button.empty{
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  padding: 8px 12px;
  border-radius: 8px;
  font-family: "Cooper Hewitt", sans-serif;
  cursor: pointer;
}

button.empty.fill-in{
  transition: background-position 0.3s ease, color 0.3s ease;
  background-size: 200% 100%;
  background-position: 100% 0%;
    background-image: linear-gradient(
      to right,
      var(--white) 50%,
      rgba(0,0,0,0) 50%
    );
}

button.empty.fill-in:hover{
  background-position: 0% 0%;
  color: var(--background);
}